<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <h3>Freshest Mars News</h3>  
  <h4>{{scraped.news_title}}</h4>
  <h5>{{scraped.news_note}}</h5>
  <br>
  <h3>Featured Mars Image</h3>
  <a href={{scraped.feat_img_url}}></a>
  <br>
  <h3>Mars Facts</h3>
  {{scraped.html}}
  <br>
  <h3>Mars Hemispheres</h3>
  <a href={{scraped.img_url1}}></a>
  <h4>{{scraped.title1}}</h4>
  <a href={{scraped.img_url3}></a>
  <h4>{{scraped.title3}}</h4>
  <a href={{scraped.img_url5}></a>
  <h4>{{scraped.title5}}</h4>
  <a href={{scraped.img_url7}></a>
  <h4>{{scraped.title7}}</h4>
</body>
</html>