<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>

<!-- link in bootstrap -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    table {background: rgb(246, 248, 250);}
    body {background-color: powderblue;}
  </style>
</head>
<body>

  <!-- add container with title and refresh button -->

  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h1 class="text-center">Mission To Mars</h1>
        <center><button type="button" href="http://localhost:5000/scrape" class="btn btn-primary btn-lg">Fresh Scrape</button></center>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <br><br>

<!-- new container for heading, news title and blurb -->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Latest Mars News</h3> 
        <h4 class="text-center">{{scraped.news_title}}</h4>
        <h5 class="text-center">{{scraped.news_note}}</h5>
       </div> 
      </div> 
   </div>
   <br><br>

<!-- new container with 3 columns, 2 outer ones used for data table and featured Mars image -->

   <div class="container">
     <div class="row">
      <div class="col-4">
        <h3>Featured Mars Image</h3>
        <img src='{{scraped.feat_img_url}}' width="450" height="450"></div>
      <div class="col-4"></div>
      <div class="col-4">
        <h3 class="text-center">Mars Facts</h3>
      {{scraped.html | safe}}
      </div>
    </div>
  </div>    
  <br><br>
  <h3 class="text-center">Mars Hemispheres</h3>

<!-- new container for hemisphere images and titles -->

  <div class="container">
  <div class="row">
    <div class="col-3">
      <h4>{{scraped.hem_urls[0].title}}</h4>
      <img src='{{scraped.hem_urls[0].img_url}}' width="200" height="200">
    </div>
    <div class="col-3">
      <h4>{{scraped.hem_urls[1].title}}</h4>
      <img src='{{scraped.hem_urls[1].img_url}}' width="200" height="200">
    </div>
    <div class="col-3">
      <h4>{{scraped.hem_urls[2].title}}</h4>
      <img src='{{scraped.hem_urls[2].img_url}}' width="200" height="200">
    </div>
      <div class="col-3">
      <h4>{{scraped.hem_urls[3].title}}</h4>
      <img src='{{scraped.hem_urls[3].img_url}}' width="200" height="200">
    </div>
  </div>
</div>
<br><br><br><br>
</body>
</html>